table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
 *{
     text-align: center;
 } 
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1e2020;
    color: white;
  }


.PopOver{
  background-color: gray;
}
  .popover-block{
    margin: 50px;
    border: gray solid 2px;
    padding:20px;
    color: blanchedalmond;
   margin-bottom: 20px;
    
  }
 

 .search-input{
  float: left;
  padding: 6px;
  border: 1px solid;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
 
 }
 